


*{
    margin: 0px;
    padding: 0px;
  
}
/* body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
} */
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.Web-wrapper{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

p {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    line-height: 31px;
}
 #navigation, .navbar-default
{
    border-radius: 0px;
    border: 0;
    background-color: rgba(0,0,0,0.19);
    opacity: 0.9;
}

.starting-text
{
    padding: 177px 0px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 2px;
}
.navbar {
  margin-bottom: 0px;
  padding: 10px 5px;
  min-height: 0;
}

#wrapper {
    background: url(./img/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* width: 102%; */
    
}
#overlay-1 {
    background-color: rgba(40, 40, 40, 0.6);
    position: relative;
}

.renessa {
    font-size: 100px;
    color: white;
  font-family: "omnes-pro", "Helvetica", sans-serif;
    font-weight: 400px;
    margin-top: 75px;
}
 .navbar-brand {
    color: #fff;
    font-family: "Coda";
    padding: 5px 15px;
    font-size: 26px;
    line-height: 100%;
    height: auto;
}
@media(max-width:650px){
.renessa{
    font-size: 80px;
}
@media(max-width:440px){
    .renessa{
        font-size: 60px;
    }
}
@media(max-width:346px){
    .renessa{
        font-size: 40px;
    
    }
}

}
@media(max-width:338px){
    .renessa-down-text{
        font-size: 15px;
    }
}
.text-center {
    text-align: center;
}
#heading-text {
    padding-top: 10px;
}
.main_content {
    padding: 50px 0px;
}
.pro {
    padding-top: 10px;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.img-responsive{
    width: 150px;
    height: 150px;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}
.half{
 display: flex;
 margin: auto;
width: 120px;
 font-weight: 600;
 color: black;
 margin-top: 30px;
}
.fa-code {
    color: cadetblue;
}
.fa-desktop {
    color: lightslategray;
}
.fa-th {
    color: rgb(114, 184, 211);
}
.fa-gamepad {
    color: rgba(0, 0, 128, 0.58);
}
.fa-lightbulb{
    color: grey;

}
.bi-stack-overflow {
    color: #C09553;
}

.service-icon {
    display: table;
    min-height: 140px;
    text-align: center;
    width: 100%;
}
.about-service h3 {
    font-family: "Coda";
    font-size: 33px;
}
.img-responsive {
    display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.bi-twitter {
    color: rgb(32, 178, 170);
}
.team-google-plus{
    color: rgb(32, 178, 170);
}
.bi-facebook {
    color: rgb(32, 178, 170);
}
 button.btn {
    font-family: 'Nunito', sans-serif;
  border-radius: 0px;
    transition: .5s;

font-weight: 100px;
font-size: small;
}
@media(max-width:990px)and (min-width:575px){
.container-work{
    width: 70%;

    }
}


@media(max-width:435px){
  .price{
      flex-wrap: wrap;
      flex-direction: column;

     
  }
  .flex-wraper{
   
    flex-wrap: wrap;  
  flex-direction: column-reverse
  }
 
}

 body{
  min-width: 350px;
 }



/* price-start */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Nunito:ital@0;1&family=Poppins&display=swap');
body{
  font-size: 16px;
  line-height: 0;
  font-family:"Coda";
  color: #333;
}
.section{
  padding: 5% 0;
}
.section h1{
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.table-default{
  background-color: #fff;
  text-align: center;
  padding: 24px 14px;
  
  overflow: hidden;
  z-index: 1;
  border: 1px solid black;
}
.grad1{
  background-color: #fff;
 
}
ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}
.table1{
  position: relative;
  color: black;
  margin-top: 80px;
  
}
.table1 .table_header_title{
  position: relative;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 36px;
}

.table1 .table_header_price{
  position: relative;
  font-size: 46px;
  font-weight: 400;
  left: -10px;
}


.table_content {
  padding: 20px 0;
}
.table_content_list li{
  font-size: .95rem;
 
  padding: 6px 0;
}

.table_footer{
  margin-top: 20px;
}



.grad2{
 background-color: rgb(32, 178, 170);
 border: none;
}
.grad3{
  background-color: white;
}
.table1.recommeded{
  transform: scale(1.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, .25);
  z-index: 2;
}
.table_footer a{
text-decoration: none;
color: #fff;
font-size: 20px;
}
@media (min-width: 992px) {
  .p-md-0{
    padding: 0;
  }
}
@media (max-width: 990px) {
  .table1.recommeded{
    transform: scale(1);
  }
}
#contact {
  padding-bottom: 80px;
}
.main_content {
  padding: 50px 0px;
}
.form{
  margin: 10px 15px 30px 15px;
}
.input-group-addon{
font-weight: 700;
} 
.socials-icons {
  
  width: 100%;
  padding-top: 60px;
  margin: 0px auto;
}
.bi-twitter {
  color: rgb(32, 178, 170);
}
.team-google-plus{
  color: rgb(32, 178, 170);
}
.bi-facebook {
  color: rgb(32, 178, 170);
}
/* .facebook{
margin-right: 50px;


} */
.main-footer {
  background-color: rgba(26, 26, 26, 1);
  padding: 20px 0px;
}
.copyright {
  margin-top: 10px;
  font-size: 16px;
  color: #f3f3f3;
}
.theme {
  font-family: "Coda";
  /* font-size: 20px; */
  /* font-weight: bold; */
  /* padding-left: 5px; */
  text-decoration: none;
  color: white;
}
/*-----------------------------------------------------------------------------------------------------
                            about us
------------------------------------------------------------------------------------------------------*/
.exp
{
    padding-top: 76px;
}
.progress
{
    background-color: #d4e3e4;
    border-radius: 0px;
    border-color: lightseagreen;
}
.progress-bar
{
    background-color: cadetblue;
}
.pro
{
    padding-top: 10px;
}



/* blog */

#blog 
{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-family: 'Lora', serif;
}
.post 
{
    width: 90%;
    margin-bottom: 15px;
}
.row-fluid 
{
    overflow: hidden;
    padding: 25px 0px;
    width: 100%;
}
#blog .post .post-thumbnail 
{
    overflow: visible !important;
   

    
}
#blog .post .post-thumbnail .frame, #blog .post .post-thumbnail .frame img 
{
    border-radius: 3px;
    margin-bottom: 0;
}
#blog .post .post-thumbnail .frame 
{
  overflow: visible !important;
    padding: 8px;
    background: #b9b9bb;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    
    
}
#blog .post .post-thumbnail .post-format 
{
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 300px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border: 5px solid #b8b8bb;
    position: absolute;
    top: -19px;
    left: -20px;
    background-color: #d9dad9;
    z-index: 9999;
}
#blog .post .post-thumbnail .post-format span 
{
    font-size: 33px;
    position: relative;
    top: 2px;
    color: rgb(32, 178, 170);
}
a 
{
    outline: none;
    text-decoration: none;
}
#blog .post .post-thumbnail .post-shadow 
{
    margin: 0;
    padding: 0 0 0 18px;
}
#blog .post-excerpt 
{
    margin-top: 18px;
    padding-left: 70px;
}
#blog .post h2.title a {
    color: rgb(32, 178, 170);
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 1px 1px #f7f7f6;
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
}
#blog .post h2.title 
{
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    font-size: 20px;
}
.title 
{
    position: relative;
}
.line-dotted 
{
    border-bottom: 1px dashed #a4a4a4;
    box-shadow: 0 1px 1px #ffffff;
    width: 100%;
    clear: both;
    margin-top: 19px;
    margin-bottom: 23px;
}

.post-share a 
{
    padding: 0px 10px;
    font-size: 18px;
}
 #blog .post .post-share p 
{
    font-weight: bold;
    float: left;
    margin-right: 10px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: #3acab1;
  border-color: #3acab1;
}

.pagination {
  border-radius: 0;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pagination>li>a, .pagination>li>span {
  color: #16a085;
}

#port-items .col-md-4 {
  padding: 0;
}
@media (max-width: 400px) {
  #port-items .col-xs-6 {
      width: 100%;
  }
}
/* bog-end */
.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}


/* cantact */

.input-group
{
   padding: 18px 0px;
}
.send
{
   float: left;
}
.map
{
   padding: 18px 0px;
}
#contact
{
   padding-bottom: 80px;
}
.socials-icons 
{
   margin: 0 auto;
   position: relative;
   width: 100%;
   padding-top: 60px;

}   
.socials-icons li 
{
   padding-left: 20px;
   padding-bottom: 10px;
   display: inline-block;
   list-style: none;
}
.socials-icons li a 
{
   display: block;
   position: relative;
   width: 50px;
   height: 50px;
   text-align: center;
   line-height: 50px;
   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -ms-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
   opacity: 0.8;
}
.socials-icons li a i.fa 
{
   color: #fff;
   line-height: 50px;
   font-size: 21px;
}
.socials-icons li a:hover 
{
   opacity: 1;
}
.facebook
{
   background-color: #3acab1;
}
.facebook:hover
{
   background-color: #46629E;
}
.twitter
{
   background-color: #3acab1;
}
.twitter:hover
{
   background-color: #0EAACE;
}
.google-plus
{
   background-color: #3acab1;
}
.google-plus:hover
{
   background-color: #DD4C39;
}
.instagram
{
   background-color: #3acab1;
}
.instagram:hover
{
   background-color: #4A789E;
}
.pinterest
{
   background-color: #3acab1;
}
.pinterest:hover
{
   background-color: #CB2027;
}
.skype
{
   background-color: #3acab1;
}
.skype:hover
{
   background-color: #01AEF2;
}
form
{
   width: 100%;
}
@media(max-width:990px){
  .main_content{
    display: flex;
    flex-direction: column;
  }
}

.responsive {
  display: block;
margin: auto;
width: 45%;
height: auto;

}
/* testimonial-carousel-indicators */
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
 bottom:100;
}
#CustomHomeHeroNavigator {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  background-color: #151616 !important;
  box-sizing: content-box !important;
  flex: 0 1 auto !important;
  padding: 0 !important;
  margin-right: 3px !important;
  margin-left: 3px !important;
  text-indent: -999px !important;
  cursor: pointer !important;
  background-clip: padding-box !important;
  border: 0 !important;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  opacity: .7;
  transition: opacity .6s ease !important;
  border: 1px solid #ADADAD;
  
}
.blog-items{
  border: 1px solid #869791;
  display: block;;
  width: 30px;
  height: 30px;
  
  text-decoration: none;
  padding: 2px;
  font-size: 17px;
}
.blog-arrow{
  border: 1px solid #869791;
  display: block;
  width: 40px;
  height: 30px;

  text-decoration: none;
  padding: 2px;
  font-size: 17px;
}
.responsivess{
display: block;
height: auto;
width: 100%;


}



